
@use '../abstracts/colors';

// FLEX MIXINS ========
@mixin  flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

@mixin flex-row-space-between { 
    display: flex;
    justify-content: space-between;
}


@mixin flex-colum-end { // Great for Next-Sections
    display: flex;
        flex-direction: column;
        align-items: flex-end;
}

@mixin flex-content-end {
    display: flex;
    justify-content: end;
    
}




//BUTTON 

@mixin primary-button {
    width: 140px;
    height: 50px; 
    padding: .5em; 
    border-radius: 20px;
    background-color: transparent;
    appearance: none;
    text-transform: uppercase;
    color: white; 
    box-shadow: 0 0 40px 40px #C98708 inset, 0 0 0 0 #C98708;
    transition: all 150ms ease-in-out;
} 
@mixin button-hover {
    box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
    
}

@mixin down-arrow {
    width: 30px;
    height: 30px;
    
}

// SECTION NAME 

@mixin section-name-design { 
    color: #DEDEDE; 
    opacity: 50%;
}



// Hello Span Design 
@mixin text-shadow {
    text-shadow: 40px 26px 0px rgba(201,135,8,0.49);
} 