//HEADER/////////////////////
header { 
    border-bottom: 2px black solid;
}

nav { 
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0; 

    ul { 
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

}