<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">  
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&family=Plus+Jakarta+Sans:wght@500&family=Press+Start+2P&family=Rubik+80s+Fade&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1b0a8f8e7d.js" crossorigin="anonymous" defer></script>
    <script src="scripts/menu-toggle.js" defer></script> 
    <script src="scripts/intersection.js" defer></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
    <title>{{title}}</title>

</head>
{% include "nav_bar.njk" %}
<body>
    {%include 'header.njk'%} 
<main>
    {{content | safe }}
</main> 
    {%include 'footer.njk'%}


    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
  
</script>
</body>
</html>
