<nav class="nav">
    <div id="container-exit">
  <span id="menu-btn-close">x</span>
    </div>
    <ul>
        <li class="nav-item"><a href="#hero" class="home">Home.</a></li>
        <li class="nav-item"><a href="/blog/">Blog.</a></li>
        <li class="nav-item"><a href="#contact"> Contact Me.</a></li>
    </ul>
</nav>