@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&family=Plus+Jakarta+Sans:wght@500&family=Press+Start+2P&family=Rubik+80s+Fade&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

section,
.section {
  padding: min(10vh, 10em) 0;
}

body {
  background: #263031;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  background-color: #263031;
  color: white;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  display: none;
}
nav #container-exit {
  text-align: end;
  padding-right: 50px;
  font-size: 32px;
}
nav ul {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
nav ul li {
  font-size: 48px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: #C98708;
  cursor: pointer;
}
nav ul li .home {
  color: #C98708;
}

.display {
  display: inline-block;
  position: fixed;
}

.section_title {
  padding: 10px;
  text-align: center;
  color: white;
}

.section_para {
  width: calc(100% - 1em);
  text-align: center;
  color: white;
  font-size: 16px;
}

.articles {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: white;
}
.articles .article_snippet {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "snippet_title snippet_date" "snippet_description snippet_description" "snippet_description snippet_description" "article-btn article-btn";
  width: 250px;
  height: 250px;
  border: 2px red solid;
  margin: 50px auto;
  text-align: center;
  box-shadow: 10px -4px 66px 8px rgba(0, 0, 0, 0.27);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid #C98708;
  border-radius: 25px;
}
.articles .article_snippet .snippet_title {
  grid-area: snippet_title;
}
.articles .article_snippet .snippet_description {
  grid-area: snippet_description;
}
.articles .article_snippet .snippet_date {
  grid-area: snippet_date;
}
.articles .article_snippet .article-btn {
  grid-area: article-btn;
}
.articles .article_snippet .snippet_date {
  font-size: 12px;
  align-self: center;
}
.articles .article_snippet .snippet_title {
  padding: 0.5em;
  align-self: center;
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 24px;
}
.articles .article_snippet .snippet_title a:visited {
  color: gray;
}
.articles .article_snippet .snippet_title a:active {
  color: gray;
}
.articles .article_snippet .snippet_author {
  font-size: 12px;
}
.articles .article_snippet .snippet_description {
  font-size: 12px;
  line-height: 1.5em;
  margin: auto;
}
.articles .article_snippet .article-btn {
  margin: 0 auto;
  font-size: 12px;
  background-color: #C98708 !important;
  text-decoration: none;
  width: 100%;
  border: 1px #C98708 solid;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}/*# sourceMappingURL=blog.css.map */