@font-face {
  font-family: "rubik-80s";
  src: local("rubik-80s"), url("//fonts/Rubik_80s_Fade/Rubik80sFade-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
}

main {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  background-color: #263031;
  color: white;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  display: none;
}
nav #container-exit {
  text-align: end;
  padding-right: 50px;
  font-size: 32px;
}
nav ul {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
nav ul li {
  font-size: 48px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: #C98708;
  cursor: pointer;
}
nav ul li .home {
  color: #C98708;
}

.display {
  display: inline-block;
  position: fixed;
}

.nav-bar-left {
  position: fixed;
  opacity: 90%;
  background-color: #263031;
  width: 10em;
  height: 100vh;
  padding-top: 2em;
  display: none;
}
.nav-bar-left ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.nav-bar-left ul li {
  color: white !important;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #03666C;
}
#hero #logomenu-container {
  display: flex;
  justify-content: space-between;
  color: white;
}
#hero #logomenu-container .logo {
  padding-left: 50px;
}
#hero #logomenu-container .menu-btn {
  padding-right: 50px;
}
#hero #logomenu-container .menu-btn:hover {
  cursor: pointer;
}
#hero #hero-name {
  display: block;
  color: white;
  align-self: center;
  font-size: 32px;
  padding-top: 3em;
}
#hero #hero-name img {
  float: right;
}
#hero #hero-name #transform {
  text-shadow: 40px 26px 0px rgba(201, 135, 8, 0.49);
  font-size: 8rem;
  position: absolute;
  top: -30px;
  transform: skewY(-6deg);
}
#hero #hero-name span {
  font-size: 48px;
  font-family: "copperplate";
}
#hero #hero-name span:hover {
  color: #C98708;
}
#hero p {
  font-size: 32px;
  color: rgba(201, 135, 8, 0.5);
}
#hero button {
  width: 140px;
  height: 50px;
  padding: 0.5em;
  border-radius: 20px;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-transform: uppercase;
  color: white;
  box-shadow: 0 0 40px 40px #C98708 inset, 0 0 0 0 #C98708;
  transition: all 150ms ease-in-out;
  align-self: center;
  margin: 2em;
}
#hero button:hover {
  box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
}
#hero #next-section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#hero #next-section-container h2 {
  color: #DEDEDE;
  opacity: 50%;
  padding-right: 10px;
  z-index: 1;
}
#hero #next-section-container h2 #down-arrow {
  width: 30px;
  height: 30px;
}
#hero #circle-container {
  background-color: #263031;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
#hero #circle-container #circle {
  position: relative;
  top: -75px;
  left: 10px;
  fill: #03666C;
}

#about {
  background-color: #263031;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#about h2 {
  color: white;
}
#about #know-me-container {
  margin: 4em auto;
  padding: 1em 2em 2em 2em;
  width: 75%;
  height: auto;
  border-radius: 2%;
  background-color: #03666C;
}

#next-section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#next-section-container h2 {
  color: #DEDEDE;
  opacity: 50%;
  padding-right: 10px;
  z-index: 1;
}
#next-section-container h2 #down-arrow {
  width: 30px;
  height: 30px;
}

#circle-container {
  background-color: #03666C;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
#circle-container #circle {
  position: relative;
  top: -75px;
  right: 10px;
  fill: #263031;
}

#works {
  background-color: #03666C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#works button {
  width: 140px;
  height: 50px;
  padding: 0.5em;
  border-radius: 20px;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-transform: uppercase;
  color: white;
  box-shadow: 0 0 40px 40px #C98708 inset, 0 0 0 0 #C98708;
  transition: all 150ms ease-in-out;
  margin: 0.5em;
  width: 100px;
  height: 50px;
}
#works h1 {
  color: white;
  margin: 20px auto;
}
#works p {
  margin: 0 auto;
  width: 80%;
  color: white;
}
#works .works-container {
  margin-top: 1em;
  background-color: #03666C;
  display: flex;
}
#works .works-container .a {
  padding: 0.25em;
  align-self: auto;
}
#works .works-container .title {
  padding: 0.25em;
}
#works #next-section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#works #next-section-container h2 {
  color: #DEDEDE;
  opacity: 50%;
  padding-right: 10px;
  z-index: 1;
}
#works #next-section-container h2 #down-arrow {
  width: 30px;
  height: 30px;
}
#works #circle-container {
  background-color: #263031;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
#works #circle-container #circle {
  position: relative;
  top: -75px;
  right: 10px;
  fill: #03666C;
}

#blog {
  background-color: #263031;
}
#blog h1 {
  width: 100px;
  color: white;
  align-self: start;
  padding-left: 20px;
  font-size: 36px;
}
#blog ul {
  color: white;
}
#blog button {
  align-self: center;
  width: 140px;
  height: 50px;
  padding: 0.5em;
  border-radius: 20px;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-transform: uppercase;
  color: white;
  box-shadow: 0 0 40px 40px #C98708 inset, 0 0 0 0 #C98708;
  transition: all 150ms ease-in-out;
  box-shadow: 0 0 40px 40px #03666C inset, 0 0 0 0 #03666C;
}
#blog button:hover {
  box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
}

#contact {
  background-color: #03666C;
  display: flex;
  flex-direction: column;
}
#contact p {
  text-align: center;
  font-size: 36px;
  color: white;
}
#contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10%;
  gap: 1em;
}
#contact form .userinput-container {
  position: relative;
}
#contact form .userinput-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  transition: 0.5s;
  pointer-events: none;
}
#contact form .userinput-container input {
  font-size: 18px;
  padding: 1.5em;
  width: 100%;
  border: none;
  border-bottom: 2px white solid;
  height: 2.5em;
  color: white;
  outline: none;
  background: transparent;
}
#contact form .userinput-container input:focus ~ label, #contact form .userinput-container input:valid ~ label {
  color: #C98708;
  top: -15px;
  left: 0px;
  font-size: 14px;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #03666C;
}
#footer h1 {
  color: white;
}
#footer h2 {
  color: white;
}
#footer h3 {
  font-size: 10px;
  color: #263031;
}/*# sourceMappingURL=home.css.map */