footer

{ 
    display: flex;
    justify-content: space-evenly; 
    text-align: center;
    width: 100%; 
    background-color: gray;
    color: white;
    padding: 2em; 
    list-style: none;

    nav { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
    }

    ul { 
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        gap: 2em; 

    }


}

