@use '../abstracts' as *;


body { 
    width: auto;
    height: 100vh;
    background-color: $softblue;
 
}


section { 
    height: 100%;
    margin: 10%;
    background-color: gray;
    box-shadow: $inverse-boxshadow;
}



h1 { 
    text-align: center;
    padding: 2em;
}

#about-me-container { 
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $softblue;
    border-top: 2px gray solid;
    border-bottom: 2px gray solid;

        #image-container { 
            padding-left: 2em;
            padding-right:2em; 
            background-color: $softblue;
        
        }

}

#about-me-info { 
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4em;
    background-color: $softblue;
    width: 100%;
}