@use "../abstracts" as *;

// GLOBAL========
* {
    box-sizing: border-box;
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

// General Styling

section,
.section {
    padding: min(10vh, 10em) 0;
}

body {
    background:$primary-second; 
}



// NAV BAR START=================
nav {
    @include flex-column-center;
    position: absolute;
    background-color: $primary-second; 
    color: $primary-white-type;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    display: none;

    #container-exit {
        text-align: end;
        padding-right: 50px;
        font-size: 32px;
    }

    ul {
        
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 2em;

        li {
            font-size: 48px;
            list-style: none;

            a {
                text-decoration: none;
                color: $primary-white-type;

                &:hover {
                    color: $main-accent;
                    cursor: pointer;
                }
            }

            .home {
                color: $main-accent;
            }
        }
    }
}

.display {
    //FOR Nav Menu
    display: inline-block;
    position: fixed;
}

// NAV BAR END /////////////////




// Main Articles ================================
/// HERO POST

.section_title {
    padding-top: 1em;
    padding: 2em;
    text-align: center;
    color: $primary-white-type;
}

.section_para {
    line-height: 1.5em;
   padding: 0 2em 2em;
    text-align: center;
    color: $primary-white-type;
    font-size: 16px;
}

/// ARTICLE POST

.articles {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin:0; 
    padding: 0;
    color: $primary-white-type; 


.article_snippet {
    display: grid; 
    grid-template-columns: 1.2fr 0.8fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "snippet_title snippet_date"
      "snippet_description snippet_description"
      "snippet_description snippet_description"
      "article-btn article-btn";   



    width: 250px;
    height: 250px;
    border: 2px red solid;
    margin: 50px auto;
    
    text-align: center;
    @include glassmorph;


    .snippet_title { grid-area: snippet_title; }
.snippet_description { grid-area: snippet_description; }
.snippet_date { grid-area: snippet_date; }
a { grid-area: article-btn; }

}  
    .snippet_date { 
        font-size: 12px;
        align-self: center;
    }

    .snippet_title {
       background-color: transparent !important;
        padding: .5em;
        align-self: center;
        color: $primary-white-type;
        text-decoration: none;
        list-style: none;
        font-size: 24px;

        // a { 
        // &:visited {color: gray;}
        // &:active { color: gray;}
    }
} 

    .snippet_author {
        font-size: 12px;
    }

    .snippet_description {
        font-size: 12px;
        line-height: 1.5em;
        margin: auto;
    }

    a{ 
        position: relative;
        margin: auto;
        background-color: $main-accent !important;
        text-decoration: none;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;

        &:hover {
            @include button-hover;
        }
    

    .article-btn {
        background-color: transparent; 
        margin: 0 auto;
        font-size: 12px;
        text-decoration: none;
       width: 100%;
    
    

       
    } 
      
    }




@media (min-width: $laptops) { 

    .article-snippet { 
        display: flex;
        background-color: red;
    }

    
}