@use '../abstracts' as *; 

* { 
    margin: 0;
}

.site-footer { 
    background-color: $primary-second;
    color: $primary-white-type;
    position: fixed;
    left: 0; 
    bottom: 0; 
    width: 100%; 
    padding: 1.5em;
    margin-top: 1em; 

    @include flex-row-space-between;

    h1 { 
        font-size: 24px;
        padding-bottom: .25em;
    }

    p { 
        font-size: 10px;
    }


    .social-media { 
        padding: .25em;

        svg { 
            padding: .25em;
        }

    }

}