@use '../abstracts' as *; 





header{ 

        #logomenu-container-large,{ 
            @include flex-row-space-between; 
            justify-content: start !important; 
            background-color: $primary-one;
            color: white; 
            padding: .5em; 
            
            font-size: 24px;
        
            
            ul { 
                display: flex; 
                justify-content: space-evenly;
                gap: 5em; 
                
                li { 
                    gap: 5em; 
                    list-style: none; 
                }

                a { 
                    color: $primary-white-type; 
                    text-decoration: none; 
                }


            }
    }


//SMALL DEVICES 
    #logomenu-container-small { 
        @include flex-row-space-between; 
        background-color: $primary-one;
        color: white; 
        padding: .5em;

    
        .logo { 
            padding-left: 25px;
        }

        .menu-btn { 
            padding-right: 25px;
        } 

     
 

        
    }




// Large Devices MEDIA 
    @media (min-width: $laptops) { 
        #logomenu-container-small {
            display: none;
        
        }

        

}
@media (max-width: ($laptops - 1px)  ) { 
    #logomenu-container-large {
        display: none;
    
    }
} 

} 


.line-spacer { 
    height: 2px;
    width: 100vw;
    background-color: $main-accent;
  
   
} 


