@use '../abstracts' as *; 


//mixins 



// GLOBAL========

* { 
box-sizing: border-box;
}
main { 
    margin: 0;
    padding: 0;

}


// HERO START =============
#hero { 
    @include flex-column-center;
    background-color: $primary-one;

    #logomenu-container { 
       @include flex-row-space-between; 
       color: $primary-white-type;
       
    }

    #hero-name { 
    color: $primary-white-type;
     align-self: center;
     font-size: 32px;

       img { 
        float: right;
       }

       .hello-span { 
        font-size: 48px;
        font-family: 'copperplate'; 

        &:hover { 
            color: $primary-second;
        
          

        }
       }
    }

    p { 
        font-size: 32px;
        color: rgba(201, 135, 8, 0.5);
       
    }


    button { 
      @include primary-button; 
     align-self: center;
     margin: 2em;

    } 

    #next-section-container{
        @include flex-colum-end; 

    h2 {
       @include section-name-design; 
       padding-right: 10px;
       z-index: 1;

       #down-arrow { 
       @include down-arrow;

       }


    } 
} 



#circle-container { 
    background-color: $primary-second; 
    height: 50px;
   @include flex-content-end;
   

    #circle { 
    position: relative;
    top: -75px;
    left:10px; 
    fill: $primary-one;
    }
} 


    
}
// HERO END //////////////////

// START OF GET TO KNOW ==============

#about { 
    background-color: $primary-second;

    @include flex-column-center; 

    h2 { 
        color: $primary-white-type;
    }

    #know-me-container { 
        margin: 0 auto;
        padding: 1rem;
        width: 75%;
        height: auto;
        border-radius: 20% ;
        background-color: $primary-one;
     }

   .get-to-know-svg { 

   }

} 

   #next-section-container{
    @include flex-colum-end; 
   h2 {
    @include section-name-design; 
    padding-right: 10px;
    z-index: 1;

    #down-arrow { 
     @include down-arrow;

    }

    }


 } 

 #circle-container { 
    background-color: $primary-one; 
    height: 50px;
  @include flex-content-end;
   

    #circle { 
    position: relative;
    top: -75px; 
    right: 10px;
    fill: $primary-second;
    }


 }


