@use '../abstracts' as *; 


//mixins 



// GLOBAL========
main { 
    margin: 0;
    padding: 0;

}


// HERO START =============
#hero { 
    @include flex-column-center;
    background-color: $primary-one;

    #logomenu-container { 
       @include flex-row-space-between; 
       color: $primary-white-type;
       
    }

    #hero-name { 
    color: $primary-white-type;
     align-self: center;
     font-size: 32px;

       img { 
        float: right;
       }

       .hello-span { 
        font-size: 48px;
        font-family: 'copperplate'; 

        &:hover { 
            color: $primary-second;
        
          

        }
       }
    }

    p { 
        font-size: 32px;
        color: rgba(201, 135, 8, 0.5);
       
    }


    button { 
      @include primary-button; 
     align-self: center;
     margin: 2em;

    } 

    #next-section-container{

        display: flex;
        flex-direction: column;
    
        align-items: flex-end;
        


    h2 {
       @include section-name-design; 
       padding-right: 10px;
       z-index: 1;

       #down-arrow { 
        width: 30px;
        height: 30px;

       }


    } 
} 



#circle-container { 
    background-color: $primary-second; 
    height: 50px;
    display: flex;
    justify-content: end;
   

   
  

    #circle { 
    position: relative;
    top: -75px;
    left:10px; 
    fill: $primary-one;
    }
} 


    
}
// HERO END //////////////////