@use '../abstracts' as *; 


//mixins 



// GLOBAL========

* { 
box-sizing: border-box;
margin: 0;
font-family: 'commissioner';
}
main { 
    margin: 0;
    padding: 0;
    background-color: $primary-one;

}


// ACENT LINE 



// NAV BAR START=================
nav{ 
   
    @include flex-column-center; 
    position: absolute; 
    background-color: $primary-second; 
    color: $primary-white-type; 
    z-index: 999;
    height: 100vh; 
    width: 100vw; 
   display: none;
   
    

    #container-exit { 
        text-align: end;
        padding-right: 50px;
        font-size: 32px;
    }

    ul { 
        
        margin: 50px auto; 
        display: flex;
        flex-direction: column;
        gap: 2em;
       

        li { 
            font-size: 48px; 
            list-style: none; 
            
            a{ 
                text-decoration: none; 
                color: $primary-white-type;


                &:hover { 
                    color: $main-accent;
                    cursor: pointer;
                }
            
                
            }
            
            .home { 
                color: $main-accent; 
            }
           
        }
    }
}



.display { //FOR Nav Menu BTN
    display: inline-block;  
    position: fixed;

}


//END of Nav Bar left side 


// NAV BAR END /////////////////





// HERO START =============
@media  (min-width: $laptops) { 
    .transform{ 
        position: relative !important;
        left: -150px !important; 
      
        span { 
        font-size: 62px !important;
        }
    }
 }

.hero { 
    @include flex-column-center;
    background-color: $primary-one;

    .logomenu-container { 
       @include flex-row-space-between; 
       color: $primary-white-type;

       .logo { 
        padding-left: 50px;
       }
       .menu-btn { 
        padding-right: 50px;

        &:hover { 
            cursor: pointer;
        }
       }
       
       
    }

    .hero-name { 
        display: block;
    color: $primary-white-type;
     align-self: center;
     font-size: 32px;
     padding-top: 3em; 
    
     
    
       img { 
        float: right;
       }

       .transform { 
        @include text-shadow; 
        font-size: 8rem;
        position: absolute; 
        top: 0px; 
        transform: skewY(-6deg);
       }

       span { 
        font-size: 48px;
 
    
        &:hover { 
            color: $main-accent;
        }
       }
    }

    p { 
        font-size: 32px;
        color: rgba(201, 135, 8, 0.5);
       
    }


    button { 
      @include primary-button; 
     align-self: center;
     margin: 2em;

     &:hover {      
         @include button-hover;
     }

    } 

    .next-section-container{
        @include flex-colum-end; 

    h2 {
       @include section-name-design; 
       padding-right: 10px;
       z-index: 1;

       .down-arrow { 
       @include down-arrow;

       }


    } 
} 



    
}
// HERO END //////////////////









// START OF GET TO KNOW ==============

.about { 
    background-color: $primary-second;
    border-top-color: $main-accent; 

    @include flex-column-center; 


    h2 { 
        padding-top: 1em;
        color: $primary-white-type;
    }

    .know-me-container { 
        margin: 4em 1em auto;
       
        height: auto;
        box-shadow: $box-shadow-main;
       @include glassmorph;
 
       

        p { 
            color: $primary-white-type; 
            line-height: 2em;
            padding: 2em 4em 4em; 
        }

        a { 
            
            padding: .5em;
            color: $main-accent; 
        }

     }



} 

// Circle Container for GET to KNOW
   .next-section-container{
    @include flex-colum-end; 
   h2 {
    @include section-name-design; 
    #down-arrow { 
     @include down-arrow;
    }
    }
 }

 .circle-container { 
    
  @include flex-content-end;
   
       
   

}; 

// End of GE TO KNOW ////////////////






// START OF WORKS ==================
.works { 
    background-color: $primary-second;
    @include flex-column-center; 

    button { 
        @include primary-button; 
        margin: .5em;
        width: 100px;
        height: 50px; 
    }

    h1 { 
        color: $primary-white-type;
        margin: 20px auto;
    }
    p{ 
        margin: 1em auto;
        width: 80%;
        color: $primary-white-type;
    }


    .works-container { 
    
        background-color: $primary-second;
        border: $main-accent 1px solid;
        margin: 1em;
        
        
        display: flex;
     flex-direction: column;

        .a{ 
            padding: 1em;
            align-self: auto;
           
         }

         .title { 
            padding: .25em;
            
         }

    
    } 

    @media (min-width: $tablets) { //MEDIA QUERY FOR WORKS CONTAINERS 
        .works-container{ 
            width: 25% !important;

           a{ 
                 background-size: contain
            }
        }
     }
   


    // Circle Container for WORKS
    .next-section-container{
        @include flex-colum-end; 

       h2 {
        @include section-name-design; 
        padding-right: 10px;
        z-index: 1;
    
        .down-arrow { 
         @include down-arrow;
    
        }
    
        }


    }
    
    .circle-container { 
        background-color: $primary-second; 
        height: 50px;
      @include flex-content-end;
       
    
        .circle { 
            @include circle;
        fill: $primary-one;
        }

}
}


/// END of WORKS 


//  START OF BLOG // 

.catchblog-container { 

   
.catchblog { 
    display: none;
}

.blogpara { 
    padding: 4em !important;
    line-height: 1.5em;
   
}

.recent-post { 
    margin: auto;
    
}

.snippet_title { 
    position: relative;
    left: -2em;
    list-style-type: none;
}


}
  

.blog { 
    background-color: $primary-second;


    .catchblog-container {  
        display: grid; 
      
          @media (min-width: $tablets) {

            .blogpara { 
                padding: 0 !important;
                padding-left: -5em !important;
            }

            .catchblog { 
                display: grid !important;
            }
            
           
            display: grid !important;
            grid-template-columns: .5fr 1fr 1fr .5fr .5fr 4fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 20px 50px;
            grid-auto-flow: row;
            grid-template-areas:
              ". . . . . ."
              ". A B . h h"
              ". C C C C g"
              ". . d d d g"
              ". . e f . ."
              ". . . . . .";
                
          }

      }

      .catchblog { 
        border: 1px $main-accent solid;
        padding: .5em;
        width: 100px;
        font-size: 48px;
        box-shadow: $box-shadow-main;
        background-color: aqua;
        background: rgba(255, 255, 255, 0.17);
        border-radius: 16px;
        box-shadow: $box-shadow-main;
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
            border: 1px solid $main-accent(255, 255, 255, 0.85);

        
        
    }


    @media (min-width: $tablets) {
      
      .a { grid-area: A;
    position: relative;
top: 30px;}
      
      .b { grid-area: B; 
    width: 75px;
    position: relative;
    top: 50px; 
    left: -35px;}
      
      .c { grid-area: C; 
        position: relative;
        top: 20px;
    width: 350px;}
      
      .d { grid-area: d; 
        width: 350px;}
      
      .e { grid-area: e; 
    position: relative;
    top: -25px;}
      
      .f { grid-area: f;
        position: relative;
        left: -25px;
        top: -5px; 
    width: 140px}

    .h { grid-area: h; // Paragraph /// 

    }
      
    .g { grid-area: g;
    align-self: center;
    }
} 

.blogpara { 
    color: $primary-white-type; 
    align-items: center;
    line-height: 1.5em;

}

    .recent-post { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
    }
    
    .snippet_title { 
       list-style: none;
       color: $primary-white-type;
      

       a { 
        
        color: $primary-white-type;

       }
    
    }






    h1 { 

        color: $primary-white-type;
      
        font-size: 36px;
    }

   
    .recent-post {
        align-self: flex-end;
        padding-bottom: 2em;
    } 

    button { 
        align-self: flex-start;
        @include primary-button; 
        box-shadow: 0 0 40px 40px $primary-one inset, 0 0 0 0 $primary-one; 
        

        &:hover { 
            @include button-hover; 
            cursor: pointer;

        }
    }
 

} 

// END OF BLOG /////////////////

// STart of Contact Form ===============
.contact { 
    background-color: $primary-second;
   display: flex;
   flex-direction: column;
   padding-top: 2em;
 
   border-top: 2px $main-accent solid;
   
   p { 
    text-align: center;
    font-size: 36px; 
    color: $primary-white-type; 
   }

    form { // Form Container 
        @include flex-column-center; 
        margin: 10%;
        gap: 1em; 
        
        //MEDIA Changes For form 
        @media (min-width: $laptops) { 
            width: 700px;
           max-width: 1000px;
           margin: 20px auto;
        }
            
   
            
        }

        .userinput-container {
            position: relative;

        label {
            position: absolute;
            top: 0; 
            left: 0; 
            color: $primary-white-type;
            transition: .5s; 
            pointer-events: none;

        }

        input { 
            font-size: 18px;
            padding: 1.5em; 
            width: 100%;
            border: none; 
            border-bottom: 2px $primary-white-type solid;
            height: 2.5em;
            color: $primary-white-type; 
            outline: none;
            background: transparent;
            
            
            // What happens when you focus 
          &:focus ~ label, 
          &:valid ~ label
          { 
            color: $main-accent;
            top: -5px; 
            left: 0px; 
            font-size: 12px;
          }
    }


} 

}
@media (min-width: $tablets) { 
    .contact-form { 
        width: 100% !important;
        
    }

    label,input { 
        font-size: 24px;

        &:focus ~ label, 
        &:valid ~ label
        { 
          color: $main-accent;
          top: -5px; 
          left: 0px; 
          font-size: 16px;
        }
    }


    textarea { 
        height: 200px;
    }

   
}


// Animatations 

.animate-in {
    animation: fade-in 1s ease-in-out;
  }
  
  @keyframes fade-in {
    from {
      transform: translateY(40px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }





