@use "../abstracts" as *;

// GLOBAL========
* {
    box-sizing: border-box;
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

// General Styling

body {
    background: $primary-one;
}

main {
    display: flex;
    flex-direction: column;
    margin: 100px 15px;
    max-width: 675px;
    color: $primary-white-type;
}

.line {
    width: 100%;
    height: 0.1em;
    background-color: $main-accent;
    margin: 10px auto;
}

// NAV BAR  START 
nav {
    @include flex-column-center;
    position: absolute;
    background-color: $primary-second;
    color: $primary-white-type;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    display: none;

    #container-exit {
        text-align: end;
        padding-right: 50px;
        font-size: 32px;
    }

    ul {
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        gap: 2em;

        li {
            font-size: 48px;
            list-style: none;

            a {
                text-decoration: none;
                color: $primary-white-type;

                &:hover {
                    color: $main-accent;
                    cursor: pointer;
                }
            }

            .home {
                color: $main-accent;
            }
        }
    }
}

.display {
    //FOR Nav Menu
    display: inline-block;
    position: fixed;
}

// NAV BAR END 

h1 { 
    font-size: 42px;
}

