<footer>
    <section id="Footer-Nav">
        <nav> 
            <li><a href="Homepage.html"> Home </a> </li>
            <li> Portfolio </li>
            <li> Contact </li>
        </nav>
    </section>

    <section id="Footer-Designer"> 

        <h1> Design by Colten Siemer <h1> 

    </section>

    <section id="Footer-Social-Media">
        <ul>
            <li>
                <span class="icon"><i class="fa-brands fa-github"></i><a href=""></a></span>
                <span class="text"> Git-Hub</span>
            </li>
            <li>
                <span class="icon"><i class="fa-brands fa-linkedin-in"></i><a href=""></a></span>
                <span class="text"> Linkedin</span>
            </li>
            <li>
                <span class="icon"><i class="fa-brands fa-instagram"></i><a href=""></a></span>
                <span class="text"> Instagram</span>
              
            </li>
            <li>
                <span><i class="fa-brands fa-facebook"></i><a href=""></a></span>
                <span class="text"> Facebook</span>
            </li>
        </ul>
    </section>

</footer>